<nav class="navbar w-100">
    <div class="nav-item"><a class="navbar-brand" href="#">Cyber Cafe</a></div>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle fa-2x"></i> Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="user-profile.php">My Account</a></li>
            <li><a class="dropdown-item" href="index.php">Logout</a></li>
        </ul>
    </div>
</nav>